<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <strong>Landmark: </strong>
    <%= @landmark.name %>
    <br>

    <strong>Year of Completion:</strong>
    <%= @landmark.year_completed %>
    <br>
  </body>
</html>
